body {
    text-align: center;
    background-color: rgb(32, 103, 255);
}

h1 {
  color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.stage{
    background-color: beige;
    margin: 0px 15px;
    padding: 2em;
    border-radius: 8px;
}

.square{
    width: 100px;
    height: 100px;
    background-color: darkgrey;
    border: 1px solid rgb(156, 151, 151);
    border-radius: 5px;
    display: inline-block;
}

.x, .o{
    position:relative;
}
.x::after, .o::after{
    position: absolute;
    inset: 0 0 0 0;
    line-height: 100px;
    font-size: 50px;
}

.x::after{
    content: "\2716";
}

.o::after{
    content: "\2B55";
}

.button{
    display: none;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 5px;

    transition-property: background-color, color;
    transition: 400ms;
}

.button:hover{
    color: white;
    background-color: blue;
}